<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Experience</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-6">

      <!-- timeline wrapper -->
      <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2019 - Present</span>
            <h3 class="title">DevOps Consultant - Amaris Consulting</h3>
            <ul>
              <li>Improvement of deployment processes using containers under Docker for application builds</li>
              <li>Deployment of applications under Azure Container Instances</li>
              <li>Grouping of configurations under git repository to have a better approach to Infrastructure As Code (environment configuration, configuration of automated recovery of DBs on integration and QA environments)</li>
              <li>Static analysis implementation with Sonarqube and git hooks</li>
              <li>Best practices implementation (PSR standards, IDE configuration, classes and functions comments...)</li>
              <li>TYPO3 CMS upgrades, maintenance and overhaul</li>
              <li>Pull requests and merge strategies improvements</li>
              <li>More agility (daily, backlog review, sprint retrospective, pair programming...</li>
              <li>Level 1 and 2 support</li>
            </ul>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2019</span>
            <h3 class="title">Automation Tester - Guarani</h3>
            <ul>
              <li>Running end to end test scripts</li>
              <li>Maintain an innovative test automation system for the organization</li>
              <li>define Behavior Driven Development approach and tools for Automated Testing in an Agile project</li>
            </ul>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>

      </div>

    </div>

    <div class="col-md-6">

      <!-- responsive spacer -->
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <!-- timeline wrapper -->
      <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2015 - 2019</span>
            <h3 class="title">Flutter, TYPO3 and Laravel Developer - LucidLab</h3>
            <p>Freelancer -<br />
            Build Laravel apps, TYPO3 websites with many frontend and backend extensions.
            Using Git, gogs, composer, npm, gulp and Bower.
            I have been working on TYPO3 since 2005. Write technical and support documentation, people training...</p>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>

      </div>

    </div>

  </div>

</div>
