<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">About Me</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-3">
      <div class="text-center text-md-left">
        <!-- avatar image -->
        <img src="assets/images/christian-2022-150x.png" alt="Christian BELLET" />
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-6">
            <!-- about text -->
            <p>I'm Christian BELLET and I live in France. Senior Consultant focused on cloud based infrastructures, hybrid or on premise with Kubernetes. Expertise in deployments with Jenkins, CI/CD pipelines, working with Azure Cloud services.</p>
            <div class="spacer-30 d-md-none d-lg-none"></div>
          </div>
          <div class="col-md-6">

          <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Azure Cloud</h4>
                <span class="float-right">70%</span>
              </div>
              <ngb-progressbar type="warning" [value]="70"></ngb-progressbar>
              <div class="spacer-20"></div>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Docker</h4>
                <span class="float-right">85%</span>
              </div>
              <ngb-progressbar type="danger" [value]="85"></ngb-progressbar>
              <div class="spacer-20"></div>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Kubernetes</h4>
                <span class="float-right">60%</span>
              </div>
              <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- row end -->

</div>
