<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Latest News</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <span class="category">Certifications</span>
          <img src="assets/images/blog/1.svg" alt="blog-title" />
        </div>
        <div class="details">
          <h4 class="my-0 title">Check these Azure certifications out!</h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">01 January, 2022</li>
            <li class="list-inline-item">Christian BELLET</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
